<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kafe_otomasyonu.Properties.Settings.ymgConnectionString"
            connectionString="Data Source=LAPTOP-EAS3BIR0\SQLEXPRESS;Initial Catalog=ymg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>